# Taxi Trips and Traffic

Where most models use real-time data from users to predict arrival
times at any given moment, we believe they could be improved by including a predictive
element. Our intent is to use the NYC Taxi and Limousine Commission's yellow and green cab data set to estimate density of pickup and dropoffs at any given place and time. We will then use the density as a proxy for traffic to estimate the time it takes to arrive at a destination.

In [1]:
%matplotlib inline
import edward as ed
import pandas as pd
import tensorflow as tf
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from setup import set_random_seeds
import data
# set_random_seeds(42)
plt.style.use("seaborn-talk")
sns.set_context("talk")

ModuleNotFoundError: No module named 'data'

## Data

Use the
[2015 NYC Yellow Cab Dataset](http://www.nyc.gov/html/tlc/html/about/trip_record_data.shtml),
which consists of pickup and dropoff coordinates for trips, along 
with metadata like cost, distance, and number of passengers. For the time being, we are only interested in trips that occurr entirely within the range from 1st street to 59th street, and 12th ave to 1st ave, during the month of april. This data can be easily visualized as 2d plot.

```SQL
SELECT
  *
FROM
  [bigquery-public-data:new_york.tlc_yellow_trips_2016]
WHERE
  (pickup_longitude > -74.0124053955
    AND pickup_longitude < -73.9673309326)
  AND (pickup_latitude > 40.7186431885
    AND pickup_latitude < 40.7735137939)
  AND (dropoff_longitude > -74.0124053955
    AND dropoff_longitude < -73.9673309326)
  AND (dropoff_latitude > 40.7186431885
    AND dropoff_latitude < 40.7735137939)
  AND TIMESTAMP_TO_MSEC(pickup_datetime) > 1459483200000
  AND TIMESTAMP_TO_MSEC(dropoff_datetime) < 1462075200000
  order by pickup_datetime desc
LIMIT
  10000
```

In [3]:
data_raw = pd.read_csv('datasets/train.csv')

In [4]:
""" Function drops unnecessary metadata in raw dataset"""
def getCleanTaxiData(data_raw):
    # Drop unneccessary meta data
    dataset = data_raw.loc[:, 'pickup_datetime':'trip_duration']
    dataset.drop('passenger_count', axis=1, inplace=True)
    dataset.drop('store_and_fwd_flag', axis=1, inplace=True)

    # Rename columns
    dataset.columns=[['pickup_datetime','dropoff_datetime','pickup_longitude',
                      'pickup_latitude','dropoff_longitude','dropoff_latitude',
                      'trip_time']]

    # Convert date/time into two columns
    dataset['pickup_datetime'] = pd.to_datetime(dataset['pickup_datetime'])
    dataset['pickup_date'] = dataset['pickup_datetime'].dt.date
    dataset['pickup_time'] = dataset['pickup_datetime'].dt.time

    dataset['dropoff_datetime'] = pd.to_datetime(dataset['dropoff_datetime'])
    dataset['dropoff_date'] = dataset['dropoff_datetime'].dt.date
    dataset['dropoff_time'] = dataset['dropoff_datetime'].dt.time

    dataset.drop('pickup_datetime', axis=1, inplace=True)
    dataset.drop('dropoff_datetime', axis=1, inplace=True)
    
    return dataset

# ... could take a ~1-2 minutes
dataset = getCleanTaxiData(data_raw)
# View first 5 rows of dataset using pandas df.head()
dataset.head()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_time,pickup_date,pickup_time,dropoff_date,dropoff_time
0,-73.982155,40.767937,-73.964630,40.765602,455,2016-03-14,17:24:55,2016-03-14,17:32:30
1,-73.980415,40.738564,-73.999481,40.731152,663,2016-06-12,00:43:35,2016-06-12,00:54:38
2,-73.979027,40.763939,-74.005333,40.710087,2124,2016-01-19,11:35:24,2016-01-19,12:10:48
3,-74.010040,40.719971,-74.012268,40.706718,429,2016-04-06,19:32:31,2016-04-06,19:39:40
4,-73.973053,40.793209,-73.972923,40.782520,435,2016-03-26,13:30:55,2016-03-26,13:38:10

In [ ]:
import json

with open('nyc_neighborhoods.json') as file:
    json_data = json.load(file)

In [ ]:
#from shapely.geometry import shape, Point
import shapely

""" 
Function takes a geo/json file of NYC census tracts and returns
neighborhoods.... works in general but need to fix so clearly returns
pickup/dropoff neighborhood & just appends that to main dataframe
.... so tired...
"""

def getRoundedLonLat(dataset):
    decimals = 6
    dataset['pickup_rounded_lon'] = dataset[['pickup_longitude']].round(decimals)
    dataset['pickup_rounded_lat'] = dataset[['pickup_latitude']].round(decimals)
    dataset['dropoff_rounded_lon'] = dataset[['dropoff_longitude']].round(decimals)
    dataset['dropoff_rounded_lat'] = dataset[['dropoff_latitude']].round(decimals)

    
    dataset = dataset.sort_values(['pickup_rounded_lon', 'pickup_rounded_lat','dropoff_rounded_lon', 'dropoff_rounded_lat']).reset_index()[['pickup_rounded_lon', 'pickup_rounded_lat','dropoff_rounded_lon', 'dropoff_rounded_lat']]
    
    return dataset


def checkPointBounds(point):
    # check if point is in Manhattan bound
    # defaults from mike - kinda stringent and lead to a bunch of NaNs
    point_lon = point[0]
    point_lat = point[1]
    min_lon =  40.7186431885
    max_lon =  40.7735137939
    min_lat = -74.0124053955
    max_lat = -73.9673309326

    if(min_lon < point_lon < max_lon) and (min_lat <  point_lat < max_lat):
        return True
    else:
        return False

       
def getNeighborhood(point, json_data):

    temp_point = Point(point[1],point[0])
    
    #if (checkPointBounds(point)): #Checks to if it's within our arb NYC cutoff bound
    if (True):
            for feature in json_data['features']:
                if feature['properties']['borough'] == 'Manhattan':
                    polygon = shapely.geometry.asShape(feature['geometry'])
                    if polygon.contains(temp_point):
                        return feature['properties']['neighborhood']
                else:
                    continue
        
    return 'NaN'
                        
    
def addNeighborhoods(dataset, json_data):

    temp_data = getRoundedLonLat(dataset)
    temp_data['pickup_neighborhood'] = ""
    temp_data['dropoff_neighborhood'] = ""
    drops = []
    picks = []
    
    for idx, row in temp_data.iterrows():
        pickup_point = (temp_data.pickup_rounded_lat[idx],temp_data.pickup_rounded_lon[idx])
        temp_data.pickup_neighborhood.loc[idx] = getNeighborhood(pickup_point, json_data)

        dropoff_point = (temp_data.dropoff_rounded_lat[idx], temp_data.dropoff_rounded_lon[idx])
        temp_data.dropoff_neighborhood.loc[idx] = getNeighborhood(dropoff_point, json_data)
        
    print(temp_data.head())

In [ ]:

addNeighborhoods(dataset.loc[0:100], json_data)

In [ ]:
""" Get neighborhoods... tire clean all this shit up tomorrow and make histogram + hourly data ugh 
"""


#point = (40.7713579,-73.956581)
point = (40.740321999999999, -73.993324000000001)

print( checkPointBounds(point) )
print( getNeighborhood(point,json_data) )

In [10]:
from haversine import haversine
# hours = dataset['d_time'].loc[0:3]
# print(dataset['d_time'].loc[0].hour < 20)

# for h in hours:
#     if h.hour < 20:
#         print(str(h.hour) + ':' + str(h.minute))
#         print(True)

#print(len(dataset))

def cleanTime(data):
    return data[(0 < data.time) & (data.time < 9800)]


''' Function returns dataset with haversine trip distance column
    Note DF pruned to btwn 0 miles and less than 50 miles
'''
# def calcDistances(df):
    
#     '''Internal function computes haversine distance (miles)
#         usage: pt = (plat, plon, dlat, dlon)
#     '''
#     def haversineDistance(pickup_lat, pickup_lon, dropoff_lat, dropoff_lon):
#         pickup_point = (pickup_lat, pickup_lon)
#         dropoff_point = (dropoff_lat, dropoff_lon)
#         # Return distance in miles rounded to 2 decimals
#         return round( haversine(pickup_point, dropoff_point, miles=True), 2)
    
# #     df['trip_distance'] = np.nan
# #     df['trip_distance'] = df.loc[:,('pickup_latitude',
# #                                     'pickup_longitude',
# #                                     'dropoff_latitude',
# #                                     'dropoff_longitude')].apply(lambda x: haversineDistance(*x), axis=1)
#     df['trip_distance'] = df.apply(lambda x: haversineDistance(x['pickup_latitude'],
#                                                             x['pickup_longitude'], 
#                                                             x['dropoff_latitude'],
#                                                             x['dropoff_longitude']),axis=1)
    
#     return df[(0 < df.trip_distance) & (df.trip_distance < 50)]

def calcDistances(df):
    
    '''Internal function computes haversine distance (miles)
        usage: pt = (plat, plon, dlat, dlon)
    '''
    def haversineDistance(row):
        pickup_point = (row['pickup_latitude'], row['pickup_longitude'])
        dropoff_point = (row['dropoff_latitude'], row['dropoff_longitude'])
        # Return distance in miles rounded to 2 decimals
        return round( haversine(pickup_point, dropoff_point, miles=True), 2)
    
#     df['trip_distance'] = df.loc[:,('pickup_latitude',
#                                     'pickup_longitude',
#                                     'dropoff_latitude',
#                                     'dropoff_longitude')].apply(lambda x: haversineDistance(*x), axis=1)
    
    df['trip_distance'] = df.apply(lambda row: haversineDistance(row),axis=1)
    
    return df[(0 < df.trip_distance) & (df.trip_distance < 50)]



''' Function returns dataset with trip speed (MPH) column
    Note: Trips with speeds below bottom 1% and above top 99% speeds removed
'''
def calcSpeeds(df):
    
    '''Internal function computes trip speed (mph)
        usage: time (secs), distance (miles)
    '''
    def getMPH(row):
        hours = row['trip_time'] / 3600
        mph = row['trip_distance'] / hours
        # Return distance in miles rounded to 2 decimals
        return round( mph, 2)
    
    df['trip_speed'] = df.loc[:, ('trip_time','trip_distance')].apply(lambda row: getMPH(row), axis=1)
    
    return df[(0 < df.trip_speed) & (df.trip_speed < 150)]

In [6]:
#dataset = calcDistances(dataset)
dataset.head()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_time,pickup_date,pickup_time,dropoff_date,dropoff_time,trip_distance
0,-73.982155,40.767937,-73.964630,40.765602,455,2016-03-14,17:24:55,2016-03-14,17:32:30,0.93
1,-73.980415,40.738564,-73.999481,40.731152,663,2016-06-12,00:43:35,2016-06-12,00:54:38,1.12
2,-73.979027,40.763939,-74.005333,40.710087,2124,2016-01-19,11:35:24,2016-01-19,12:10:48,3.97
3,-74.010040,40.719971,-74.012268,40.706718,429,2016-04-06,19:32:31,2016-04-06,19:39:40,0.92
4,-73.973053,40.793209,-73.972923,40.782520,435,2016-03-26,13:30:55,2016-03-26,13:38:10,0.74

In [12]:
#dataset = calcSpeeds(dataset)
dataset[0:50]

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_time,pickup_date,pickup_time,dropoff_date,dropoff_time,trip_distance,trip_speed
0,-73.982155,40.767937,-73.964630,40.765602,455,2016-03-14,17:24:55,2016-03-14,17:32:30,0.93,7.36
1,-73.980415,40.738564,-73.999481,40.731152,663,2016-06-12,00:43:35,2016-06-12,00:54:38,1.12,6.08
2,-73.979027,40.763939,-74.005333,40.710087,2124,2016-01-19,11:35:24,2016-01-19,12:10:48,3.97,6.73
3,-74.010040,40.719971,-74.012268,40.706718,429,2016-04-06,19:32:31,2016-04-06,19:39:40,0.92,7.72
4,-73.973053,40.793209,-73.972923,40.782520,435,2016-03-26,13:30:55,2016-03-26,13:38:10,0.74,6.12
5,-73.982857,40.742195,-73.992081,40.749184,443,2016-01-30,22:01:40,2016-01-30,22:09:03,0.68,5.53
6,-73.969017,40.757839,-73.957405,40.765896,341,2016-06-17,22:34:59,2016-06-17,22:40:40,0.82,8.66
7,-73.969276,40.797779,-73.922470,40.760559,1551,2016-05-21,07:54:58,2016-05-21,08:20:49,3.55,8.24
8,-73.999481,40.738400,-73.985786,40.732815,255,2016-05-27,23:12:23,2016-05-27,23:16:38,0.81,11.44
9,-73.981049,40.744339,-73.973000,40.789989,1225,2016-03-10,21:45:01,2016-03-10,22:05:26,3.18,9.35
10,-73.982651,40.763840,-74.002228,40.732990,1274,2016-05-10,22:08:41,2016-05-10,22:29:55,2.37,6.70
11,-73.991531,40.749439,-73.956543,40.770630,1128,2016-05-15,11:16:11,2016-05-15,11:34:59,2.34,7.47
12,-73.962982,40.756680,-73.984406,40.760719,1114,2016-02-19,09:52:46,2016-02-19,10:11:20,1.16,3.75
13,-73.956306,40.767941,-73.966110,40.763000,260,2016-06-01,20:58:29,2016-06-01,21:02:49,0.62,8.58
14,-73.992195,40.727226,-73.974655,40.783070,1414,2016-05-27,00:43:36,2016-05-27,01:07:10,3.97,10.11
15,-73.955513,40.768593,-73.948761,40.771545,211,2016-05-16,15:29:02,2016-05-16,15:32:33,0.41,7.00
16,-73.991165,40.755562,-73.999290,40.725353,2316,2016-04-11,17:29:50,2016-04-11,18:08:26,2.13,3.31
17,-73.994255,40.745804,-73.999657,40.723343,731,2016-04-14,08:48:26,2016-04-14,09:00:37,1.58,7.78
18,-74.003983,40.713013,-73.979195,40.749924,1317,2016-06-27,09:55:13,2016-06-27,10:17:10,2.86,7.82
19,-73.983887,40.738197,-73.991203,40.727871,251,2016-06-05,13:47:23,2016-06-05,13:51:34,0.81,11.62
20,-73.980370,40.742420,-73.962852,40.760635,486,2016-02-28,02:23:02,2016-02-28,02:31:08,1.56,11.56
21,-73.979538,40.753361,-73.963997,40.763458,652,2016-04-01,12:12:25,2016-04-01,12:23:17,1.07,5.91
22,-73.995865,40.758812,-73.993324,40.740322,423,2016-04-09,03:34:27,2016-04-09,03:41:30,1.28,10.89
23,-73.993553,40.747173,-74.006142,40.704384,1163,2016-06-25,10:36:26,2016-06-25,10:55:49,3.03,9.38
24,-73.955231,40.777134,-73.788750,40.641472,2485,2016-06-03,08:15:05,2016-06-03,08:56:30,12.80,18.54
25,-73.956581,40.771358,-73.974968,40.732792,1283,2016-02-14,13:27:56,2016-02-14,13:49:19,2.83,7.94
26,-73.983765,40.749874,-73.958832,40.800961,1130,2016-02-27,21:56:01,2016-02-27,22:14:51,3.76,11.98
27,-73.958435,40.713192,-73.949539,40.680252,694,2016-06-20,23:07:16,2016-06-20,23:18:50,2.32,12.03
28,-73.994217,40.713306,-73.982849,40.692299,892,2016-06-13,21:57:27,2016-06-13,22:12:19,1.57,6.34
29,-73.982117,40.756351,-73.865692,40.770988,2331,2016-03-23,14:10:39,2016-03-23,14:49:30,6.18,9.54
30,-73.970940,40.761669,-73.996239,40.725368,1479,2016-05-17,10:47:51,2016-05-17,11:12:30,2.84,6.91
31,-73.998268,40.720039,-74.010361,40.672138,1048,2016-05-21,13:03:24,2016-05-21,13:20:52,3.37,11.58
32,-74.005501,40.706589,-73.985817,40.744202,1022,2016-05-10,19:27:38,2016-05-10,19:44:40,2.80,9.86
33,-73.990311,40.756580,-73.870918,40.773930,2269,2016-04-17,14:38:30,2016-04-17,15:16:19,6.36,10.09
34,-74.008995,40.712589,-73.998634,40.722809,707,2016-01-09,12:55:35,2016-01-09,13:07:22,0.89,4.53
35,-73.994560,40.750526,-73.978500,40.756191,526,2016-03-11,07:11:23,2016-03-11,07:20:09,0.93,6.37
36,-73.951515,40.770248,-73.958527,40.761517,553,2016-01-05,15:29:54,2016-01-05,15:39:07,0.71,4.62
37,-73.988068,40.728081,-73.980751,40.721470,277,2016-06-23,23:00:09,2016-06-23,23:04:46,0.60,7.80
38,-73.978127,40.758343,-73.992249,40.730541,1189,2016-05-27,14:26:12,2016-05-27,14:46:01,2.06,6.24
39,-73.977768,40.774078,-73.947144,40.775993,1523,2016-05-10,16:14:56,2016-05-10,16:40:19,1.61,3.81
40,-73.988548,40.745979,-73.970886,40.793385,1450,2016-04-21,21:28:27,2016-04-21,21:52:37,3.40,8.44
41,-73.974724,40.751137,-73.954445,40.764118,1102,2016-04-14,13:27:52,2016-04-14,13:46:14,1.39,4.54
42,-73.975090,40.758766,-73.953201,40.765068,1346,2016-03-14,14:05:39,2016-03-14,14:28:05,1.23,3.29
43,-73.976471,40.739780,-73.980667,40.729965,363,2016-03-19,01:12:46,2016-03-19,01:18:49,0.71,7.04
44,-73.979645,40.739632,-73.994728,40.723495,559,2016-02-12,07:41:56,2016-02-12,07:51:15,1.37,8.82
45,-74.016327,40.704990,-73.982109,40.773750,1478,2016-06-13,15:52:20,2016-06-13,16:16:58,5.08,12.37
46,-73.985138,40.732193,-73.989639,40.720875,348,2016-01-03,16:59:02,2016-01-03,17:04:50,0.82,8.48
47,-73.981659,40.778973,-73.969810,40.792130,375,2016-02-26,08:37:00,2016-02-26,08:43:15,1.10,10.56
48,-73.966164,40.766914,-73.992180,40.725819,1217,2016-05-18,21:50:24,2016-05-18,22:10:41,3.15,9.32
49,-73.965469,40.765846,-73.960953,40.796928,876,2016-04-10,19:11:03,2016-04-10,19:25:39,2.16,8.88

In [ ]:
dataset.describe()
bins = [0, 120, 240, 360, 480, 600, 720, 840, 960, 1080, 1540]
bins2 = [np.arange(0, 18000, 120)]
bins3 = list(range(0, 10000, 120))
#print(bins3)
counts = pd.cut(dataset['time'], bins3)
dataset['counts'] = pd.cut(dataset['time'], bins3)
x = pd.value_counts(dataset['counts'])
x

In [ ]:
dataset = data.get_data('datasets/results-20171101-101319.csv', name="raw_coordinates")
with tf.Session() as sess:
    rotated_data = sess.run(data.rotate(dataset, np.pi * 0.0))
H = data.bin_2d(rotated_data.T, [60, 12], pad_longitude=0.0, pad_latitude=0.0)
ax = sns.heatmap(H[0])
ax.invert_yaxis()
# sns.jointplot(rotated_data.T[:, 0], rotated_data.T[:, 1])

Now lets look at a single bin, over the course of several hours throughout the day. Specifically, lets look at the busy point around 30th street and Ninth Avenue.

In [ ]:
utils.
max_cars_in_bin = H[0].max()
np.argwhere(H[0] == max_cars_in_bin)
# utils.get_bin_indices(num_cars_in_bin)
# num_avenues = 12
# max_cars = H[0].max()
# street = H[0].argmax() // num_avenues
# ave = H[0][street].argmax()
# print("The busiest Intersection is", num_avenues - ave, "ave and", street, "street with", max_cars, "pickups or dropoffs")

In [ ]:
print("The coordinates surrounding the busiest intersection are")
ave_min_long = H[2][ave]
ave_max_long = H[2][ave + 1]
street_min_lat = H[1][street]
street_max_lat = H[1][street + 1]
print(f"[{ave_min_long}, {ave_max_long}], [{street_min_lat}, {street_max_lat}]")
trips_in_busy_point = []
count = 0
for i in rotated_data.T:
    longitude = i[0]
    latitude = i[1]
    if longitude > ave_min_long and longitude < ave_max_long and latitude > street_min_lat and latitude < street_max_lat:
            trips_in_busy_point.append(i)

## Model

Here, we define a placeholder `X`. During inference, we pass in
the value for this placeholder according to data.

## Inference

Perform variational inference.
Define the variational model to be a fully factorized normal.

In [ ]:
qf = Normal(loc=tf.Variable(tf.random_normal([N])),
            scale=tf.nn.softplus(tf.Variable(tf.random_normal([N]))))

Run variational inference for `500` iterations.

In [ ]:
inference = ed.KLqp({f: qf}, data={X: X_train, y: y_train})
inference.run(n_iter=5000)

In this case
`KLqp` defaults to minimizing the
$\text{KL}(q\|p)$ divergence measure using the reparameterization
gradient.
For more details on inference, see the [$\text{KL}(q\|p)$ tutorial](/tutorials/klqp).
(This example happens to be slow because evaluating and inverting full
covariances in Gaussian processes happens to be slow.)